
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: black;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
    text-transform: uppercase;
    color: white;
    font-style: italic;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 80px;
}

.enlace span{
    color: red;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: red;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.inicio_principal{
    background-image: url(../imagenes/inicio3.jpg);
    height: 100vh;
    width: 100%;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.centrar h1{
    color: white;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

.centrar a{
    background-color: red;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
}

.centrar a:hover{
    transform: scale(1.1);
    transition: transform .5s;
}



/* FOOTER */
.pie-pagina{
    width: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;

}
.pie-pagina .grupo-1{
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
    justify-content: center;
    align-items: center;
    
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pie-pagina .grupo-1 .box h2{
    color: red;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: red;
    margin-right: 10px;
    background-color: rgb(16, 16, 16);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(171, 50, 43);
}
.pie-pagina .grupo-2{
    background-color: rgb(16, 16, 16);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

figure a{
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-size: 24px;
}

.fa-solid{
    color: red;
}

.rojo{color: red;}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #B70E21;
}

.inicio{
    background-color: #222222;
}
.centrar_titulo{
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px;
    width: 100%;
}

.card{
    padding: 25px;
    background-color: rgb(198, 191, 191);
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
    line-height: 2;
    box-shadow: 4px 4px 5px 0px rgba(66,66,66,0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(66,66,66,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(66,66,66,0.75);
    margin-bottom: 50px;
}


.card:hover{
    transform: scale(1.03);
    transition: transform, box-shadow, 1s;
    box-shadow: 8px 8px 5px 0px rgba(92,91,91,0.75);
    -webkit-box-shadow: 8px 8px 5px 0px rgba(92,91,91,0.75);
    -moz-box-shadow: 8px 8px 5px 0px rgba(92,91,91,0.75);
}
.tarjetas{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    flex-wrap: wrap;
    animation: animacion 2s ease 0s 1 normal forwards;
}

@keyframes animacion {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}

.card-title{
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.card2{
    background-color: black;
    color: white;
}

.precio{
    background-color: red;
    padding: 15px;
    margin: 15px;
}

 


/* actividades */

.actividades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 40px;
    justify-items: center;
    }
    
    .boxeo { grid-area: 1 / 1 / 2 / 2; }
    .video { grid-area: 1 / 2 / 2 / 3; }
    .musculacion { grid-area: 1 / 3 / 2 / 4; }


    .boxeo{
        width: 400px;
        height: 300px;
        background-image: url(../imagenes/boxeo.jpg);
        background-position: center;
        background-size: cover;
    }
    .boxeo h1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        color: white;
        text-transform: uppercase;
        font-style: italic;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        opacity: 0;
    }
    
    .boxeo h1:hover{
        opacity: 1;
        transition: 1s;
        background-color: rgba(255, 0, 0, 0.363);
        
    }
    
    .video{
        width: 400px;
        height: 300px;
    }

    .video iframe{
        width: 400px;
        height: 300px;
    }
    
    .musculacion{
        width: 400px;
        height: 300px;
        background-image: url(../imagenes/gym.jpeg);
        background-position: center;
        background-size: cover;
    }

    .musculacion h1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        color: white;
        text-transform: uppercase;
        font-style: italic;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        opacity: 0;
    }

    .musculacion h1:hover{
        opacity: 1;
        transition: 1.5s;
        background-color: rgba(255, 0, 0, 0.363);
    }

    



    .content{
        padding: 50px;
    }
    
    .contact-wrapper {
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
        color: white;
        font-family: 'Quicksand', sans-serif;
    }
    
    .contact-wrapper > * {
        padding: 1em;
        
    }
    
    .contact-form {
        background: #222222;
    }
    
    .contact-form form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .contact-form form label {
        display: block;
    }
    
    .contact-form form p {
        margin: 0;
        padding: 1em;
    }
    
    .contact-form form .block {
        grid-column: 1 / 3;
        
    }

    .block a{
        text-decoration: none;
        color: white;
    }
    
    .contact-form form button,
    .contact-form form input,
    .contact-form form textarea {
        width: 100%;
        padding: .7em;
        border: none;
        background: none;
        outline: 0;
        color: #fff;
        border-bottom: 1px solid #d63031;
    }
    
    .contact-form form button {
        background: #B70E21;
        border: 0;
        text-transform: uppercase;
        padding: 1em;
    }
    
    .contact-form form button:hover,
    .contact-form form button:focus {
        background: #d63031;
        color: #fff;
        transition: background-color 1s ease-out;
        outline: 0;
    }


    .wrapper h2{
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: white;
      }
      
      #error_message{
        margin-bottom: 20px;
        background: #B70E21;
        padding: 0px;
        text-align: center;
        font-size: 14px;
        
        
      }

      .contact-form h2{
        text-align: center;
        margin-bottom: 15px;
        letter-spacing: 3px;
        color: white;
      }

      

    @media only screen and (min-width: 800px){
        /* NAVBAR */
        nav ul li a{
            font-size: 20px;
        }
        .enlace{
            font-size: 30px;
        }

        /* IMG INDEX */
        .inicio_principal{
            background-size: cover;
        }

        .centrar .centrar_h1{
            font-size: 70px;
        }

        /* FOOTER */
        .pie-pagina .grupo-1{
            font-size: 20px;
        }


        /* ACTIVIDADES */

        .actividades_main{
            padding-bottom: 66px;
        }
        .actividades{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
    .boxeo, .video, .video iframe, .musculacion{
        width: 600px;
        height: 400px;
        flex-wrap: wrap;
        
    }
    
        .boxeo h1:hover, .musculacion h1:hover{
            width: 600px;
            height: 400px;
            opacity: 1;
            transition: 1s;
            background-color: rgba(255, 0, 0, 0.363);
        }


   

    }
    @media only screen and (max-width: 768px){
        /* NAVBAR   */
        .checkbtn{
            display: block;
        }
        ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color:rgb(36, 35, 35);
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a{
            font-size: 20px;
        }
        li a:hover, li a.active{
            background: none;
            color: red;
        }
        #check:checked ~ ul{
            left:0;
        }
        .enlace{
            padding: 20px;
        }

        /* IMG INDEX */
        .inicio_principal{
            background-size: cover;
        }
        /* ACTIVIDADES */
        .actividades {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 20px;
            }
            
    
    
            .boxeo{
                grid-area: 1 / 1 / 2 / 2; 
                width: 500px;
                height: 300px;
                background-image: url(../imagenes/boxeo.jpg);
                background-position: center;
                background-size: cover;
            }
            .boxeo h1{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 300px;
                color: white;
                text-transform: uppercase;
                font-style: italic;
                font-size: 30px;
                font-family: 'Montserrat', sans-serif;
                opacity: 1;
                background-color: rgba(255, 0, 0, 0.464);
            }
            
            
            
            
            .video{
                grid-area: 2 / 1 / 3 / 2;
                width: 500px;
           }
            .video iframe{
                width: 500px;
                height: 300px;
                margin-left: 0;
            }
            
            .musculacion{
                grid-area: 3 / 1 / 4 / 2; 
                width: 500px;
                height: 300px;
                background-position: center;
                background-size: cover;
            }
        
            .musculacion h1{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 300px;
                color: white;
                text-transform: uppercase;
                font-style: italic;
                font-size: 30px;
                font-family: 'Montserrat', sans-serif;
                opacity: 1;
                background-color: rgba(255, 0, 0, 0.464);
            }
    }
    

    @media only screen and (max-width: 500px) {


        /* FOOTER */
        .pie-pagina .grupo-1{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap:30px;
            padding: 35px 0px;
        }

        /* IMG INDEX */
        .inicio_principal{
            background-position: center;
            background-size: cover;
        }


        .centrar_titulo{
            font-size: 20px;
        }



        /* ACTIVIDADES */

        .actividades {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 20px;
            }
            
    
    
            .boxeo{
                grid-area: 1 / 1 / 2 / 2;
                width: 300px;
                height: 300px;
                background-image: url(../imagenes/boxeo.jpg);
                background-position: center;
                background-size: cover;
            }
            .boxeo h1{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 300px;
                color: white;
                text-transform: uppercase;
                font-style: italic;
                font-size: 30px;
                font-family: 'Montserrat', sans-serif;
                opacity: 1;
                background-color: rgba(255, 0, 0, 0.464);
            }
            
            .video{
                grid-area: 2 / 1 / 3 / 2;
                width: 300px;
           }
            .video iframe{
                width: 300px;
                height: 300px;
                margin-left: 0;
            }
            
            .musculacion{
                grid-area: 3 / 1 / 4 / 2;
                width: 300px;
                height: 300px;
                background-image: url(../imagenes/gym.jpeg);
                background-position: center;
                background-size: cover;
            }
        
            .musculacion h1{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 300px;
                color: white;
                text-transform: uppercase;
                font-style: italic;
                font-size: 30px;
                font-family: 'Montserrat', sans-serif;
                opacity: 1;
                background-color: rgba(255, 0, 0, 0.464);
            }
        
    /* CONTACTO */
    .content{
        padding: 5px;
    }

    .contact-wrapper {
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
        margin: 2px;
    }
    
    .contact-form form {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .contact-form form label {
        display: block;
    }
    
    .contact-form form p {
        margin: 10px;
        padding: 10px;
    }
    
    .contact-form form .block {
        grid-column: 1;
    }
        
    .centrar_titulo{
        font-size: 15px;
    }

    }



   